<%- include('../partials/head') %>
</head>
<body class="min-h-screen flex flex-col items-center text-white font-sans">
  <%- include('../partials/header') %>
  <main class="w-full mx-auto p-8 bg-gray-50 rounded-lg shadow-2xl mt-25 ">
    <div class="flex md:flex-row items-center p-4 rounded-2xl border border-black ">
      <div class="w-full md:w-1/2">
        <div class="absolute -mt-2">
          <%- include('../partials/favourite') %>
        </div>
        <div class="w-full h-full">
          <img src="<%= product.productImageURL %>" alt="<%= product.productName %>" class="w-85 h-80 object-cover rounded-lg border-1 shadow-lg">
        </div>
      </div>
      <div class="w-full md:w-1/2 mt-8 md:mt-0 md:pl-8">
        <h1 class="text-6xl capitalize text-indigo-700 font-extrabold mt-0 mb-14"><%= product.productName %></h1>
        <p class="text-3xl text-gray-700 mb-4">Price: ₹<%= product.productPrice %></p>
        <p class="text-lg text-black mb-4">⭐ Rating: <%= product.productRating %>/5</p>
        <p class="text-lg text-black mb-6 capitalize">Product Description: <%= product.description %></p>
        <div class="flex space-x-4">
          <button class="bg-white text-blue-500 border mt-2 py-2 px-2 cursor-pointer rounded-lg text-lg font-bold shadow-lg transition-transform transform hover:scale-105 hover:bg-blue-500 hover:text-white">🛒 Add to Cart</button>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
