<%- include('../partials/head') %>
  </head>

  <body class=" bg-blue-400 min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-2xl border shadow-xl w-full max-w-md">
      <header class="text-center mb-6">
        <h1 class="text-3xl font-bold text-gray-800">
          <%= editing ? "Edit" : "Add" %> Your Products on Product Cart 🛍️
        </h1>
      </header>
      <main>
        <form action='/admin/<%= editing ? "edit-product" : "add-product" %>' method='POST' class="space-y-4">
          <div>
            <input name="id" id="id" type="hidden" value="<%= editing ? product._id : '' %>" />

            <label for='productName' class="mt-2 block text-lg font-medium text-gray-700">Product Name:</label>
            <input type='text' name='productName' id='productName' placeholder="Enter Product Name"
              value="<%= editing ? product.productName : '' %>"
              class="w-full mt-2 p-3 outline rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 capitalize"
              required />

            <label for='productPrice' class="mt-2 block text-lg font-medium text-gray-700">Product Price:</label>
            <input type='number' name='productPrice' id='productPrice' placeholder="Enter Product Price"
              value="<%= editing ? product.productPrice : '' %>"
              class="w-full mt-2 p-3 outline rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
              required />

            <label for='productRating' class="mt-2 block text-lg font-medium text-gray-700">Product Rating:</label>
            <input type='number' name='productRating' id='productRating' min="0" max="5"
              value="<%= editing ? product.productRating : '' %>" 
              placeholder="Enter product Rating"
              class="w-full mt-2 p-3 outline rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
              required />

            <label for='productImageURL' class="mt-2 block text-lg font-medium text-gray-700">Product Image:</label>
            <input type='text' name='productImageURL' id='productImageURL' placeholder="Enter Product Image URL"
              value="<%= editing ? product.productImageURL : '' %>"
              class="w-full mt-2 p-3 outline rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
              required />
          </div>
          <input type='submit' value='<%= editing ? ' Update Product' : 'Add Product' %>' class="w-full bg-blue-400
          text-white border mb-4 mt-2 px-6 py-3 cursor-pointer rounded-lg text-lg font-bold shadow-lg
          transition-transform transform hover:scale-105 hover:bg-blue-600 hover:text-white" />
        </form>
      </main>
    </div>
  </body>

  </html>